global
    maxconn 4096
    tune.bufsize 16384

defaults
    mode tcp
    timeout connect 2s
    timeout client 2s
    timeout server 2s
    option splice-auto
    option tcp-nodelay

frontend front
    bind :9999
    default_backend apis

backend apis
    balance roundrobin
    server api1 127.0.0.1:8080
    server api2 127.0.0.1:8081
