global
    maxconn 4096

defaults
    mode http
    timeout connect 2s
    timeout client 2s
    timeout server 2s
    option http-keep-alive
    http-reuse always

frontend front
    bind :9999
    default_backend apis

backend apis
    balance roundrobin
    server api1 127.0.0.1:8080
    server api2 127.0.0.1:8081
